<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <!-- <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="main.js"></script> -->
    <link rel="stylesheet" href="./css/styles.css">
     <title> about</title>
     <link rel="icon" href="/img/tabPhoto.png">
</head>

<body>
 <div class="mainContent">
   {{>header}}
   <p>This site was created by Ori S. i use location data of mapbox's API and weather information from darksky.net .</p>
    
   

    <img class="aboutPhoto" src="./img/AY7I2680.jpg">
 </div>
 

    {{>footer}}
</body>
</html>